---
// Layout
import Layout from '../layouts/Layout.astro'

// Assets
import { Image } from 'astro:assets'
import fotoCurriculum from '../assets/foto-curriculum.webp'
import BlobShape from '../components/graphics/BlobShape.astro'

// Components
import PrimaryButton from '../components/PrimaryButton.astro'
import SectionContainer from '../components/SectionContainer.astro'
import InfoBox from '../components/InfoBox.astro'
import CardProject from '../components/CardProject.astro'
import InputForm from '../components/InputForm.astro'
import SkillMeter from '../components/SkillMeter.astro'
import CardExperienceInfo from '../components/CardExperienceInfo.astro'

// Icons
import Github from '../components/Icons/Github.astro'
import Linkedin from '../components/Icons/Linkedin.astro'
import IconHTML from '../components/Icons/IconHTML.astro'
import IconCSS from '../components/Icons/IconCSS.astro'
import IconJS from '../components/Icons/IconJS.astro'
import IconPHP from '../components/Icons/IconPHP.astro'
import IconReact from '../components/Icons/IconReact.astro'
import IconWordPress from '../components/Icons/IconWordPress.astro'

// Data Templates
import experience from '../data/experience.json'
import formation from '../data/formation.json'
import projects from '../data/projects.json'
---

<Layout title="Porfolio de Raul Munguia. Desarrollador y programador web Front-end">
	<main class="w-full max-w-full h-screen overflow-y-scroll snap-y snap-mandatory z-1">
		<SectionContainer containerClass="flex flex-col justify-center items-center xl:flex-row gap-16" sectionId="home">
				<div class="w-[80%] sm:w-[60%] lg:w-[40%] p-4 relative flex justify-center">
					<Image loading="eager" class="w-full aspect-square rounded-full z-1 border-12 border-[#17143A]" src={fotoCurriculum} alt="Foto de porfolio de Raul Munguia" />
					<BlobShape class="z-0"/>
				</div>
				<div class="flex flex-col gap-4 xl:items-start w-full sm:w-[80%] xl:w-[60%]">
					<h1 class="text-6xl text-center font-bold leading-snug xl:text-start">Desarrollador 
						<span class="bg-linear-30 from-indigo-300 to-indigo-500 bg-clip-text text-transparent">Front-End</span>
					</h1>
					<p class="font-medium text-2xl text-center text-indigo-50/60 leading-normal xl:text-start">
						Hey, mi nombre es Raúl Munguía. Soy ingeniero industrial y de sistemas especializado en diseño y desarrollo de soluciones web únicas.
					</p>
					<div class="flex justify-center gap-4 xl:justify-start">
						<PrimaryButton href="https://github.com/raulmu1990" target="_blank" rel="noopener noreferrer">
							<Github height="20" fill="#EEF2FF" />
							Github
						</PrimaryButton>
						<PrimaryButton href="https://www.linkedin.com/in/raulmu19/" target="_blank" rel="noopener noreferrer">
							<Linkedin height="20" fill="#EEF2FF" />
							LinkedIn
						</PrimaryButton>
					</div>
				</div>
		</SectionContainer>
		<SectionContainer containerClass="flex flex-col gap-12 xl:flex-row py-[128px]" sectionId="about">
			<div class="flex flex-col gap-6 w-full xl:w-[60%]">
				<h2 class="text-5xl font-bold leading-snug bg-clip-text text-transparent bg-linear-90 from-indigo-300 to-indigo-500 capitalize">Sobre mí</h2>
				<p class="text-xl font-medium leading-normal text-indigo-50/60 space">
					Llevo más de dos años ejerciendo como programador web principalmente en el área del Front-end, 
					tanto de forma freelance como trabajando para otras empresas.</br></br> En un principio trabaje desarrollando sitios web 
					con WordPress utilizando constructores web como Elementor. Luego utilizando mis conocimientos en HTML, CSS, 
					JavaScript y PHP, empecé a trabajar en proyectos de desarrollo de temas a medida, ofreciendo funcionalidades 
					especificas para clientes.</br></br> A dia de hoy, tengo experiencia trabajando con diversas herramientas como WordPress, 
					Framer, Figma y Webflow, así como con tecnologías como React, Tailwind, Astro y Vite, entre otras.
				</p>
			</div>
			<div class="flex flex-col gap-12">
				<div class="grid grid-cols-2 gap-4">
					<InfoBox title="Nombre completo:" content="Raúl Eduardo Munguía Urbina" className="col-span-2" />
					<InfoBox title="Email:" content="raulmu19@gmail.com" />
					<InfoBox title="Telefono:" content="77796762" />
				</div>
				<footer class="flex flex-col gap-6">
					<h3 class="text-2xl font-semibold text-indigo-50">Tecnologías</h3>
					<div class="flex gap-6 flex-wrap">
						<IconHTML title="HTML" height="32" class="fill-indigo-50/60 hover:fill-indigo-50" />
						<IconCSS title="CSS" height="32" class="fill-indigo-50/60 hover:fill-indigo-50" />
						<IconJS title="JavaScript" height="32" class="fill-indigo-50/60 hover:fill-indigo-50" />
						<IconPHP title="PHP" height="32" class="fill-indigo-50/60 hover:fill-indigo-50" />
						<IconReact title="React" height="32" class="fill-indigo-50/60 hover:fill-indigo-50" />
						<IconWordPress title="WordPress" height="32" class="fill-indigo-50/60 hover:fill-indigo-50" />
					</div>
				</footer>
			</div>
		</SectionContainer>
		<SectionContainer containerClass="flex flex-col gap-16 py-[128px] lg:gap-12 lg:flex-row" sectionId="experience">
			<div class="w-full flex flex-col gap-12 self-start lg:w-[40%] lg:sticky lg:top-[144px]">
				<h2 class="text-5xl font-bold leading-snug bg-linear-90 from-indigo-300 to-indigo-500 capitalize text-transparent bg-clip-text">Vida profesional</h2>
				<div class="grid grid-cols-2 gap-8">
					<SkillMeter title="Base de datos" value={80} />
					<SkillMeter title="Microsoft Office" value={90} />
					<SkillMeter title="Search console" value={75} />
					<SkillMeter title="Control de versiones" value={80} />
					<SkillMeter title="Diseño UI/UX" value={90} />
					<SkillMeter title="Análisis de datos" value={90} />
				</div>
			</div>
			<div class="w-full flex flex-col gap-16 lg:w-[60%]">
				<div class="flex flex-col gap-8">
					<h3 class="font-semibold text-2xl leading-normal text-indigo-50 capitalize">Experiencia profesional</h3>
					<div class="flex flex-col gap-0">
						{
							experience.map(item => {
								return (
									<CardExperienceInfo dateRange={item.dateRange} title={item.title}>
										<ul class="font-medium leading-normal text-indigo-50/60 pl-4">
											{item.tasks.map(task => (<li class="list-disc">{task}</li>))}
										</ul>
									</CardExperienceInfo>
								)
							})
						}
					</div>
				</div>
				<div class="flex flex-col gap-8">
					<h3 class="font-semibold text-2xl leading-normal text-indigo-50 capitalize">Formación</h3>
					<div class="flex flex-col gap-0">
						{
							formation.map(item => {
								return (
									<CardExperienceInfo dateRange={item.dateRange} title={item.title}>
										<p class="font-medium leading-normal text-indigo-50/60">{item.institution}</p>
									</CardExperienceInfo>
								)
							})
						}
					</div>
				</div>
			</div>
		</SectionContainer>
		<SectionContainer containerClass="flex flex-col gap-12 py-[128px]" sectionId="project">
			<div class="flex flex-col gap-6">
				<h2 class="text-5xl font-bold leading-snug bg-linear-90 from-indigo-300 to-indigo-500 capitalize text-transparent bg-clip-text">Proyectos</h2>
				<p class="font-medium text-2xl text-indigo-50/60 leading-normal w-full lg:w-[80%]">Estos son algunos de los proyectos que he desarrollado utilizando diversos frameworks, lenguajes y herramientas low-code.</p>
			</div>
			<div class="grid grid-cols-1 gap-6 lg:grid-cols-3">
				{
					projects.map(item => {
						return (
							<CardProject 
								imgUrl={item.imageURL} 
								title={item.title} 
								description={item.description} 
								technologies={item.technologies} 
								link={item.link} 
							/>
						)
					})
				}
			</div>
		</SectionContainer>
		<SectionContainer containerClass="flex flex-col gap-8 lg:gap-12 lg:flex-row" sectionId="contact">
			<div class="flex flex-col gap-6 justify-center w-full lg:w-[50%]">
				<h2 class="text-5xl font-bold leading-snug bg-linear-90 from-indigo-300 to-indigo-500 capitalize text-transparent bg-clip-text">Contáctame</h2>
				<p class="font-medium text-2xl text-indigo-50/60 leading-normal">¿Tienes algún proyecto en mente? estoy disponible para trabajar en cualquier momento.</p>
			</div>
			<form class="border border-indigo-300 rounded-3xl p-12 flex flex-col gap-8 w-full lg:w-[50%] bg-indigo-950" action="https://submit-form.com/sP7CkOwg3" method="post">
				<InputForm label="Nombre" type="text" name="firstName" placeholder="Nombre" required />
				<InputForm label="Email" type="email" name="email" placeholder="Email" required />
				<textarea class="border border-indigo-50/60 rounded-2xl px-6 py-4 text-lg text-indigo-50 placeholder:text-indigo-50/60 h-[140px]" name="message" placeholder="Mensaje"></textarea>
				<button type="submit" class="self-start border-3 border-indigo-300 px-6 py-3 rounded-full flex bg-linear-0 from-indigo-950 to-indigo-800 hover:border-indigo-50 hover:to-indigo-600 font-semibold leading-snug">Enviar</button>
			</form>
		</SectionContainer>
	</main>
</Layout>
